h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans, DejaVu Sans, Arial, sans;
    font-weight: bold;
}

body {
    color: #222;
    background-color: #FCFCFC;
    font-family: serif, Arial;
    font-size: 19px;
}

.right {
    float: right;
    text-align: right;
}

a {
    color: blue;
}

a:hover {
    color: #000000;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: #1e1e1e;
    border: none;
}

.navbar-default .navbar-brand {
    color: #e8e8e8;
    text-align: center;

}

.navbar-default .navbar-brand:hover {
    color: #00fff2;
}

.navbar-default .navbar-nav li a {
    color: #e8e8e8;
    font-weight: bold;
}

.navbar-default .navbar-nav li a:hover {
    color: #000;
    background-color: #e8e8e8;
}

.navbar-default .navbar-nav .active a {
    color: #000;
    background-color: #e8e8e8;
}

.navbar-default .navbar-nav .active a:hover {
    color: #000;
    background-color: #F9F9F9;
}

.navbar-default .navbar-toggle:hover{
    background-color: #F9F9F9;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#sidebar {
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 50px;
}

#sidebar h3 {
    padding-bottom: 5px;
    border-bottom: 3px solid #1e1e1e;
}

#sidebar ul {
    padding: 0;
}

#sidebar li {
    list-style-type:none;
}

#content {
    background-color: #FFFFFF;
    max-width: 1024px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

hr {
    border-top: 2px solid #1e1e1e;
}

#links {
    margin-bottom: 40px;
}

#recent {
    margin-bottom: 40px;
}
#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 16px;
    color: grey
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

#custom-page a {
    color: blue;
}

#custom-page a {
    color: blue;
}

#post-tags a {
    color: blue;
}

.alink {
    color: blue;
}

blockquote {
    background-color: #f4f4f4;
    font-weight: bold;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
}

p code {
    color: #14436c;
    font-weight: bold;
}


.hljs {
    background-color: ##2b2b2b;
    font-size: 19px;
    font-family: "Open Sans", sans-serif
    white-space: pre-wrap
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
    .hljs {
        font-size: 14px;
    }
}

table, th, td {
    border:1px solid #BBB;
}

table {
    border-collapse: collapse;
    border-bottom:0;
    border-left:0;
    border-right:1;
    margin: auto;
}

td, th {
    border-top:0;
    border-right:0;
    padding-left: 10px;
    padding-right: 10px;
}

thead tr th {
    background-color: #F0F6F7;
}

th.halign-center, tr.halign-center, td.halign-center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #F0F6F7;
}
tr:nth-child(odd) {
    background-color: white;
}

.float-left-mid {
    float: left;
    width: 50%;
    padding: 10px;
}

#head {
    margin-top:20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#head a {
    font-size: 1.2em;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 20px;
    padding: 9px;
    background-color: #fffef5;
}

.line-through{text-decoration:line-through}
