{% extends "/html/base.html" %}
{%block subtitle %}: Archives{% endblock %}
{% block content %}
<div id="posts">
    <div id="page-header">
        <h2>Archives</h2>
    </div>
    {% for group in groups %}
        <h4>{{group.group}}</h4>
        <ul>
        {% for post in group.posts %}
        <li>
            {{post.date|date:"dd MMMM"}} - <a class="alink" href="{{post.uri}}">{{post.title}}</a>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
        <hr>
        <div id="tour-riemann">
          <h2>A tour of Riemann</h2>
          <p>Code repository : <a href="https://github.com/mcorbin/riemann-configuration-example">https://github.com/mcorbin/riemann-configuration-example</a></p>
          <ul>
            <li><a href="/posts/09-04-2017-a-tour-of-riemann/">Introduction</a></li>
            <li><a href="/posts/10-04-2017-installing-riemann/">Installing Riemann</a></li>
            <li><a href="/posts/04-05-2017-simple-check/">A simple check</a></li>
            <li><a href="/posts/21-05-2017-riemann-by-stream/">check disk, by, throttle, email</a></li>
            <li><a href="/posts/09-08-2017-coalesce//">Coalesce</a></li>
          </ul>
          <hr>
    {% if tags|not-empty %}
        <div id="tags">
          <h2>Tags</h3>
          <ul>
            {% for tag in tags %}
            <li><a href="{{tag.uri}}">{{tag.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
     {% endif %}
</div>
{% endblock %}
